
.navBar {
    background: linear-gradient(0deg, rgba(70,70,150,1) 0%, rgba(100,100,200,1) 35%, rgba(200,200,255,1) 100%);
}

.cosmicLogotype {
    font-family: Orbitron !important;
    font-size: 20pt;
}   
@media screen and (max-width: 700px) {
    .cosmicLogotype {
        margin-right: 0px !important;
        font-family: Orbitron !important;
        font-size: 16pt !important;
    }
}

