@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@300&display=swap);

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Sofia Sans Extra Condensed', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  font-size: 24px;
  background-color: rgb(10, 10, 50) !important;
  color: lightcyan !important;
}

* {
  box-sizing: border-box;
}

.layout {
  width: 100%;
}

main {
  /* padding: 5rem 0; */
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  max-width: 90%;
  margin: 5rem auto 16px;
}

.contentPanel {
  max-width: 800px;
  margin: 24px auto;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}


/* ---- */

.cosmicWorlds {
  font-family: Orbitron !important;
  font-size: 14pt;
}

.volstrate {
  font-family: 'Rajdhani';
  font-weight: bold;
  color: white;
}

#artboard {
  max-width: 500px;
  max-height: 500px;
  width: 90%;
  
	color: gray;
  background-color: white;
	text-align: center;
  margin: auto;
}

#artboardImage {
  width: 100%;
  height: 100%;
}

.btn {
  margin: 8px;
}


/* ----  Cards ---- */

.card {
  background-color: #777777;
  margin: 16px;
  border: none !important;
}

.tokenList {
  /* padding: 16px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
}


.card-header {
  color: #eee !important;
  background-color: #CCC !important;
}

.card-body {
  background-color:#DDD;

}

.card-header {
  text-align: left;
  color: #AAAAAA;
}

.card-body {
  font-size: 18px;
} 

.cardTraits {
  margin: 16px;
}

.cardButtonArea {
  text-align: center;
}
.cardButtonArea img {
    /* display: flex;
    align-items: center;
    justify-content: center;  */
}

.cardButton {
  margin: auto;
}
.buttonIcon {
  /* display: inline-block; */
  /* vertical-align: middle;
  max-height: 24px !important; */
}

.buttonIcon img {
  height: 100%;
  margin: auto;
  max-height: 24px;
}

.buttonIcon span {
  vertical-align: middle;
}

.tokenListImage {
  width: 100%;
  height: 100%;
}

.animationPanel {
  margin: auto;
  width: 90%;
  text-align: center;
  max-width: 800px;
  margin: 24px auto;

}

.animationImage {
  margin: auto;
  width: 90%;
  max-width: 500px;
}

.etherscan {
  height: 20px;
}